!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Harlemobserver
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{:type => "button", :"data-toggle" => "collapse", :"data-target" => "#navbar-contents"}
            %span.sr-only
              Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            Harlem Observer
        .collapse.navbar-collapse#navbar-contents
          %ul.nav.navbar-nav{:role => "navigation"}
            %li
              =link_to "Forum", forem.forum_path(:default)
            %li
              =link_to "About", main_app.page_path(:about)
          %ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              %li.navbar-text
                Welcome, #{current_user.username}
              %li
                = link_to 'Edit profile', main_app.edit_user_registration_path
              %li
                = link_to 'Logout', main_app.destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to 'Sign up', main_app.new_user_registration_path
              %li
                = link_to 'Login', main_app.new_user_session_path

    .container

      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert-#{name}"

      = yield

    = javascript_include_tag 'application'


